---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: showroom-ai-assistant-llamastack
  labels:
    app: showroom-ai-assistant
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
