---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: showroom-ai-assistant
  labels:
    app: showroom-ai-assistant
spec:
  port:
    targetPort: http
  to:
    kind: Service
    name: showroom-ai-assistant
    weight: 100
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None
